.gradient-custom {
    /* fallback for old browsers */
    background: #57c7d4;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, #57c7d4, #58d8a3);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, #57c7d4, #58d8a3)
    }
    